In [5]:
import pandas as pd
import os
import glob

In [3]:
# Sample csv read
data_departments=pd.read_csv("EmployeeSQL/departments.csv")
data_departments.head()

  dept_no        dept_name
0    d001        Marketing
1    d002          Finance
2    d003  Human Resources
3    d004       Production
4    d005      Development

In [24]:
# Provide folder name and formulate unified *.csv file locator string
folder = "EmployeeSQL"
csv_files = glob.glob(os.path.join(folder, "*.csv"))

# Cycle through all files
for f in csv_files:
    # read the csv file
    vars()[f.split('\\')[1].split('.')[0]] = pd.read_csv(f)
    
    print("PROCESSING ------------ Reading in " + f + " into " + f.split('\\')[1].split('.')[0] + " DF")

PROCESSING ------------ Reading in EmployeeSQL\departments.csv into departments DF
PROCESSING ------------ Reading in EmployeeSQL\dept_emp.csv into dept_emp DF
PROCESSING ------------ Reading in EmployeeSQL\dept_manager.csv into dept_manager DF
PROCESSING ------------ Reading in EmployeeSQL\employees.csv into employees DF
PROCESSING ------------ Reading in EmployeeSQL\salaries.csv into salaries DF
PROCESSING ------------ Reading in EmployeeSQL\titles.csv into titles DF